<% if logged_in? %> 
<h1>Post a new Goal!</h1>
<% if @goal.errors.any? %>
    <div class="errors_explanation", style="padding: 20px">
        <% @goal.errors.values.each do |m| %>
            <p><%= m.to_sentence %></p>
        <% end %>
    </div>
<% end %>
<%= form_for @goal do |f| %> 
    <%= f.label "description of goal" %> 
    <%= f.text_field :name %><br>
    <%= f.label "What is your goal amount?" %> 
    <%= f.text_field :goal_amount %><br> 
    <%= f.label "What is the unit of measurement for your goal?" %> 
    <%= f.text_field :uom, value: "I.E. Pounds, Dollars, Days, Etc." %><br>
    <%= f.submit %>
<% end %>
<% end %>