<h1><%= @goal.name %></h1>
<p>Goal Finished at: <%= "#{@goal.goal_amount} #{@goal.uom}" %></p>
<p>Currently at: <%= @goal.goal_progress %> <%= @goal.uom %> </p>
<% if @goal.comments.any? %>
<h2>Comments</h2>    
<% @goal.comments.each do |c| %> 
        <p>Comment: <%= c.content %></p>
        <p>Posted by: <%= c.user.username %></p> 
        <% if c.user == current_user %> 
            <%= button_to "edit comment" %> 
        <% end %> 
    <% end %>
<% end %>
<br>  
<p>Add new comment</p>
<%= form_for @comment do |c| %> 
    <%= c.label :content %> 
    <%= c.text_field :content %> 
    <%= hidden_field_tag("comment[user_id]", current_user.id) %>
    <%= hidden_field_tag("comment[goal_id]", @goal.id) %>
    <%= c.submit "Add Comment" %>
<% end %>
